body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body > nav {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

body > article {
    width: 100%;
    height: 100%;
}

article .tab {
    width: 100%;
    height: 100%;
    /*padding: 4px;*/
    display: none;
}

article .activeTab {
    display: grid;
}



#success_primary_feature {
    position: absolute;
    top: 30%;
    left:12%;
/*    width: 200px;
    height: 100px;*/
    display: flex;
}

/*
#scatter_params {
    flex: 1;
    margin: auto;
}*/

#scatter_plot{
    /*flex:4;*/
    margin: auto;

    /*display: flex;*/
}

#select_scatter_data{
    /*margin: auto;*/
}

svg {
    /*background-color: white;*/
/*    opacity: 0.5;
*/    
    /*margin: 2em auto;*/
    /*transition: ease 0.5s;*/
    /*box-shadow: -2px 4px 10px 3px rgba(0,0,0,0.1);*/
}

svg:hover {
    /*opacity: 1;*/
    /*box-shadow: -2px 4px 10px 3px rgba(0,0,0,0.3);*/
}


#tab-wave {
    background-color: hotpink;
}

#tab-person {
    background-color: limegreen;
}

#tab-success {
    background-color: deepskyblue;
}

#menu {
     position: absolute;
     width: 25%;
     height: 25%;
 }

#menu-holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graph {
    /*width: 99%;*/
    /*height: 99%;*/
}

.menu-segment {
    fill: #4679bd;
}

.menu-segment:hover {
    fill: #5689cd;
}

.menu-icon {
    pointer-events: none;
}