body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body > nav {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

body > article {
    width: 100%;
    height: 100%;
}

article .tab {
    width: 100%;
    height: 100%;
    /*padding: 4px;*/
    display: none;
}

article .activeTab {
    display: grid;
}

#tab-wave {
    background-color: white;
}

#tab-person {
    background-color: limegreen;
}

#tab-success {
    background-color: deepskyblue;
}

.graph {
    /*width: 99%;*/
    /*height: 99%;*/
}


/* PARALLEL COORDINATES */
.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke-width: 1.5;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .title {
    font-size: 10px;
    transform: rotate(-21deg) translate(-5px,-6px);
    fill: #222;
}

line {
    fill: none;
    stroke: #ff884d;
}

.decided {
    fill: none;
    stroke: #00ccff;
}

.pc .axis .title {
    font-size: 10px;
    transform: rotate(-21deg) translate(-5px, -6px);
    fill: black;
}

/*.pc .axis line,*/
/*.pc .axis path {*/
    /*fill: none;*/
    /*stroke: #ccc;*/
    /*stroke-width: 1px;*/
/*}*/

.pc .axis .tick text {
    fill: black;
    opacity: 0;
    pointer-events: none;
}

.pc .axis.manufac_name .tick text,
.pc .axis.food_group .tick text {
    opacity: 1;
}

.pc .axis:hover line,
.pc .axis:hover path,
.pc .axis.active line,
.pc .axis.active path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.pc .axis:hover .title {
    font-weight: bold;
}

.pc .axis:hover .tick text {
    opacity: 1;
}

.pc .axis.active .title {
    font-weight: bold;
}

.pc .axis.active .tick text {
    opacity: 1;
    font-weight: bold;
}

/*.pc .brush .extent {*/
    /*fill-opacity: .3;*/
    /*stroke: #fff;*/
    /*stroke-width: 1px;*/
/*}*/